---
import { Post } from '../lib/interfaces.js'
import { getPreviewByPostId } from '../lib/blog-helpers.ts'

export interface Props {
  previews: Map<string, string>
  post: Post
}

const { previews, post } = Astro.props
---

<div class="post-preview">
  <p>{post.PageId ? getPreviewByPostId(previews, post.PageId) : ''}</p>
</div>

<style>
  .post-preview {
    padding: 0.2rem 0;
    font-size: 1rem;
  }

  .post-preview p {
    margin: 0;
    white-space: pre-wrap;
  }
</style>
