name: Deploy

on:
  schedule:
   - cron: '0 12 * * *' # every day 14:00 UCT+2
  workflow_dispatch:

jobs:
  curl:
    name: Kick deploy hook
    runs-on: ubuntu-latest
    steps:
      - name: curl
        run: curl -X POST '${{ secrets.DEPLOY_HOOK_URL }}'
